@page
@using Utility
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FName" class="form-control bg-secondary text-white" autocomplete="First Name" aria-required="true" placeholder="John" />
                <label asp-for="Input.FName">First Name</label>
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LName" class="form-control bg-secondary text-white" autocomplete="Last Name" aria-required="true" placeholder="Doe" />
                <label asp-for="Input.LName">Last Name</label>
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.WNumber" class="form-control bg-secondary text-white" autocomplete="wnumber" aria-required="true" placeholder="W#" />
                <label asp-for="Input.WNumber">W#</label>
                <span asp-validation-for="Input.WNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
            @if (User.IsInRole(SD.CLIENT_ROLE))
            {
                <select asp-for="Input.DepartmentId" asp-items="@Model.Input.Departments" class="form-select bg-secondary text-white"></select>
                <label asp-for="ClientInput.DepartmentId" class="form-label"></label>
            }
            else if (User.IsInRole(SD.PROVIDER_ROLE))
            {
                <select asp-for="Input.DepartmentId" asp-items="@Model.Input.Departments" class="form-select bg-secondary text-white"></select>
                <label asp-for="ProviderInput.DepartmentId" class="form-label"></label>
            }
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control bg-secondary text-white" autocomplete="phone number" aria-required="true" placeholder="(123) 456-7890" onInput="this.value = phoneFormat(this.value)" />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @if(User.IsInRole(SD.CLIENT_ROLE) && User.IsInRole(SD.PROVIDER_ROLE))
            {
                <div class="form-floating mb-3">
                    <select asp-for="ClientInput.ClassLevel" class="form-select bg-secondary text-white" placeholder="Fr. So. Jr. Sr.">
                        <option>Freshman</option>
                        <option>Sophomore</option>
                        <option>Junior</option>
                        <option>Senior</option>
                    </select>
                    <label asp-for="ClientInput.ClassLevel" class="form-label"></label>
                    <span asp-validation-for="ClientInput.ClassLevel" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="ClientInput.StudentType" class="form-select bg-secondary text-white" placeholder="Flex, Regular">
                        <option>Full-Time Student</option>
                        <option>Part-Time Student</option>
                        <option>Flex Student</option>
                    </select>
                    <label asp-for="ClientInput.StudentType" class="form-label"></label>
                    <span asp-validation-for="ClientInput.StudentType" class="text-danger"></span>
                </div>
                <input asp-for="ProviderInput.Title" value="Tutor" hidden />
                <div class="form-floating mb-3">
                    <input asp-for="ProviderInput.StartTime" class="form-control bg-secondary text-white" required />
                    <label asp-for="ProviderInput.StartTime" class="form-label"></label>
                    <span asp-validation-for="ProviderInput.StartTime" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ProviderInput.EndTime" class="form-control bg-secondary text-white" required />
                    <label asp-for="ProviderInput.EndTime" class="form-label"></label>
                    <span asp-validation-for="ProviderInput.EndTime" class="text-danger"></span>
                </div>
            }
            else if (User.IsInRole(SD.CLIENT_ROLE))
            {
                <div class="form-floating mb-3">
                    <select asp-for="ClientInput.ClassLevel" class="form-select bg-secondary text-white" placeholder="Fr. So. Jr. Sr.">
                        <option>Freshman</option>
                        <option>Sophomore</option>
                        <option>Junior</option>
                        <option>Senior</option>
                    </select>
                    <label asp-for="ClientInput.ClassLevel" class="form-label"></label>
                    <span asp-validation-for="ClientInput.ClassLevel" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="ClientInput.StudentType" class="form-select bg-secondary text-white" placeholder="Flex, Regular">
                        <option>Full-Time Student</option>
                        <option>Part-Time Student</option>
                        <option>Flex Student</option>
                    </select>
                    <label asp-for="ClientInput.StudentType" class="form-label"></label>
                    <span asp-validation-for="ClientInput.StudentType" class="text-danger"></span>
                </div>

                @*Validating the model state by completing all required fields*@
                <input asp-for="ProviderInput.Title" value="Tutor" hidden />
                <input asp-for="ProviderInput.AdvisementTypes" value="," hidden />
            }
            else if (User.IsInRole(SD.PROVIDER_ROLE))
            {
                <div class="form-floating mb-3" id="TitleSelector">
                    <select asp-for="ProviderInput.Title" class="form-select bg-secondary text-white" placeholder="Choose the best title for this advisor" id="providerTitle" onchange="titleChange(this.value)">
                        <option>Advisor</option>
                        <option>Instructor</option>
                        <option>Tutor</option>
                    </select>
                    <label asp-for="ProviderInput.Title" class="form-label"></label>
                </div>
                <div class="form-floating mb-3" style="@(Model.ProviderInput.Title.Equals("Advisor") == false ? "display: none" : "display: block")" id="advisementTypes">
                    <div>
                    <label asp-for="ProviderInput.AdvisementTypes" class="form-label"></label>
                    </div>
                    <div class="form-check">
                    <label asp-for="ProviderInput.NewStudent" class="form-check-label"></label>
                    <input asp-for="ProviderInput.NewStudent" class="form-check-input bg-secondary text-white" />
                    </div>
                    <div class="form-check">
                    <label asp-for="ProviderInput.ExistingStudent" class="form-check-label"></label>
                    <input asp-for="ProviderInput.ExistingStudent" class="form-check-input bg-secondary text-white" />
                    </div>
                    <div class="form-check">
                    <label asp-for="ProviderInput.FlexStudent" class="form-check-label"></label>
                    <input asp-for="ProviderInput.FlexStudent" class="form-check-input bg-secondary text-white" />
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ProviderInput.StartTime" class="form-control bg-secondary text-white" required/>
                    <label asp-for="ProviderInput.StartTime" class="form-label"></label>
                    <span asp-validation-for="ProviderInput.StartTime" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ProviderInput.EndTime" class="form-control bg-secondary text-white" required/>
                    <label asp-for="ProviderInput.EndTime" class="form-label"></label>
                    <span asp-validation-for="ProviderInput.EndTime" class="text-danger"></span>
                </div>
                    <div style="width:100%" class="mb-3 form-control-color form-control bg-secondary text-muted">
                    <small><label asp-for="ProviderInput.Color" class="form-label ms-2"></label></small> 
                    @if (Model.ProviderInput.Color == null) {
                        <input asp-for="ProviderInput.Color" type="color" class="border border-secondary" onchange="clickColor(0, -1, -1, 5)" value="#135DD8" style="width:100%;">
                    }
                    else
                    {
                        <input asp-for="ProviderInput.Color" type="color" class="border border-secondary" onchange="clickColor(0, -1, -1, 5)" value="@Model.ProviderInput.Color" style="width:100%;">
                    }
                </div>
                    
                
                @*Validating the model state by completing all required fields*@
                <input asp-for="ClientInput.ClassLevel" value="Valid" hidden />
                <input asp-for="ClientInput.StudentType" class="form-check-input" value="Valid" hidden/>
            }
            else
            {
                @*Validating the model state by completing all required fields*@
                <input asp-for="ProviderInput.Title" value="Valid" hidden />
                <input asp-for="Input.DepartmentId" value="Valid" hidden />
                <input asp-for="ClientInput.ClassLevel" value="Valid" hidden />
                <input asp-for="ProviderInput.AdvisementTypes" value="," hidden />
                <input asp-for="ClientInput.StudentType" class="form-check-input" value="Valid" hidden />
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save Changes</button>
        </form>
        <br />
        <div class="form-floating mb-3">
            <form id="googleCalendarForm" method="post">
                @if (Model.Input.IsIntegrated)
                {
                    <input type="submit" class="btn btn-warning" asp-page-handler="GoogleCalendarIntegration" asp-route-integrate="deintegrate" value="Disable Google Calendar Integration" />
                }
                else
                {
                    <input type="submit" class="btn btn-success" asp-page-handler="GoogleCalendarIntegration" asp-route-integrate="integrate" value="Enable Google Calendar Integration" />
                }
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="profile-image-box">
            <div class="profile-image-container container">
                <form enctype="multipart/form-data" method="post">
                    <input asp-for="FileInput.ImgFile" type="file" class="profile-image-btn form-control" id="pfp-upload-btn" accept="image/*" />
                    <span asp-validation-for="FileInput.ImgFile"></span>
                    <img src="~/images/profileimages/@Html.Raw(Model.Input.ProfilePictureURL)" class="profile-image" id="pfp", title="Click to change image!"/>
                    <input type="submit" asp-page-handler="Image" id="pfp-upload-submit" hidden/>
                </form>
            </div>
        </div>        
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function phoneFormat(input) {//returns (###) ###-####
            input = input.replace(/\D/g, '');
            var size = input.length;
            if (size > 0) { input = "(" + input }
            if (size > 3) { input = input.slice(0, 4) + ") " + input.slice(4, 11) }
            if (size > 6) { input = input.slice(0, 9) + "-" + input.slice(9) }
            return input;
        }
        var isFileDialogOpen = false;
        $('#pfp').click(function () { 
            $('#pfp-upload-btn').trigger('click'); 
            isFileDialogOpen = true;
        });
        function submitForm() {
            if (isFileDialogOpen) {
                isFileDialogOpen = false;
                $('#pfp-upload-submit').trigger('click');
            }
        }
        $('#pfp-upload-btn').change(submitForm);

        function titleChange(value) {
            if (value == 'Advisor') {
                var p = document.getElementById('advisementTypes');
                p.style.display = 'block';
            }
            else {
                var p = document.getElementById('advisementTypes');
                p.style.display = 'none';
            }
        }
        
    </script>
}
