@model SteamboatWillieWeb.Pages.IndexModel
@{
}

<div class="modal-header">
    <!-- Appointment Details header -->
    <div class="col-md-6 text-end"><h5 class="modal-title">Appointment Details</h5></div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block"><strong>When: </strong> </span> <br />
                </div>
                <div class="col-md-9">
                    <span class="d-inline-block">@Model.AppointmentModelInput.Date @Model.AppointmentModelInput.Time </span> <br />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block"><strong>With: </strong> </span> <br />
                </div>
                <div class="col-md-9">
                    <span class="d-inline-block">@Model.AppointmentModelInput.ProviderName </span> <br />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block"><strong>Campus: </strong> </span> <br />
                </div>
                <div class="col-md-9">
                    <span class="d-inline-block">@Model.AppointmentModelInput.Campus</span> <br />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block"><strong>@(Model.AppointmentModelInput.Campus.Equals("Online") ? "Link" : "Building"): </strong> </span> <br />
                </div>
                <div class="col-md-9">
                    <span class="d-inline-block">@Model.AppointmentModelInput.Campus</span>
                    @if (Model.AppointmentModelInput.Campus == "Online")
                    {
                        @if (Model.AppointmentModelInput.Location.Contains("http"))
                        {
                            <a class="d-inline-block" href="@Model.AppointmentModelInput.Location" target="_blank">@Model.AppointmentModelInput.Location</a>
                        }
                        else
                        {
                            <a class="d-inline-block" href="http://@Model.AppointmentModelInput.Location" target="_blank">@Model.AppointmentModelInput.Location</a>
                        }
                    }
                    else
                    {
                        <span class="d-inline-block">@Model.AppointmentModelInput.Location</span> <br />
                    }
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block"><strong>Student Attachment:</strong></span>
                </div>
                @if (Model.AppointmentModelInput.studentAttachment != null)
                {
                    <div class="col-md-9">
                        <span class="d-inline-block">
                            <input type="file" class="form-control form-control-sm bg-secondary text-white" asp-for="AppointmentModelInput.studentFile" />
                            <a style="margin-right: 10px;" href="~/attachments/@Model.AppointmentModelInput.studentAttachment" download="@(Model.AppointmentModelInput.studentAttachment)">Student Attachment</a><input type="submit" class="btn btn-danger" value="Delete File" asp-page-handler="AppointmentDetails" asp-route-id="@Model.AppointmentModelInput.AvailabilityId" asp-route-file="true" />
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <span class="d-inline-block">
                            <input type="file" class="form-control form-control-sm bg-secondary text-white" asp-for="AppointmentModelInput.studentFile" />
                            No Student Attachment
                        </span>
                    </div>
                }
                </div>
                <div class="row mt-2">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block"><strong>Provider Attachment: </strong></span>
                </div>               
                @if (Model.AppointmentModelInput.providerAttachment != null)
                {
                    <div class="col-md-9">
                        <span class="d-inline-block">
                            <a href="~/attachments/@Model.AppointmentModelInput.providerAttachment" download="@(Model.AppointmentModelInput.providerAttachment)">Provider Attachment</a>
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <span class="d-inline-block">
                            No Provider Attachment
                        </span>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-3 text-end">
                    <span class="d-inline-block mt-2"><strong>Comments: </strong></span>
                </div>
                <div class="col-md-9">
                    <div id="notEdit">
                        <span class="d-inline-block mt-2">@Model.AppointmentModelInput.Comments </span>
                    </div>
                    <div id="edit" style="display: none">
                        <textarea class="mt-2 bg-secondary text-white" cols="3" style="width: 95%" asp-for="AppointmentModelInput.Comments"></textarea>
                    </div>
                </div>
            </div>
                
            <div class="modal-footer">
                <!-- Buttons for popup -->
                <button form="none" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <div id="editBtnDiv">
                    <button form="none" class="btn btn-warning" onclick="editComments()">Edit Comments</button>
                </div>
                <div id="saveBtnDiv">
                    <input type="submit" class="btn btn-success" value="Save Changes" asp-page-handler="AppointmentDetails" asp-route-id="@Model.AppointmentModelInput.AvailabilityId" />
                </div>
            </div>
        </form>
    </div>
</div>
            