@page "{handler?}"
@model SteamboatWillieWeb.Pages.Appointments.IndexModel
@{
}
<h1>Appointments</h1>


<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                allDaySlot: false,
                slotMinTime: '07:00:00',
                slotMaxTime: '19:00:00',
                height: 'auto',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today dayGridMonth,timeGridWeek' // user can switch between the two
                },
                views: {
                    dayGridMonth: {
                        dayMaxEvents: 5,
                        moreLinkClick: 'timeGridDay'
                    },
                },
                eventClick: function (info) { //Needs to be updated with whatever info we want to show on click
                    registerAppointment(info.event.id);
                }
            });
            @if (Model.CalendarObj != null)
            {
                foreach (var obj in Model.CalendarObj)
                {
                    var backgroundColor = @obj.Color == null ? "#135DD8" : obj.Color;
                    <text>
                        var e = { id: '@obj.Id.ToString()', title: '@obj.Name.ToString()', start: '@obj.StartTime.ToString()', backgroundColor: '@backgroundColor', end: '@obj.EndTime.ToString()', url: '#' };
                        calendar.addEvent(e);
                    </text>
                }
            }
            calendar.render();
        });
    </script>
</head>
<body>
    <div>
        <div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
    <hr />
    <form asp-page="./Index" method="get" id="filterForm">
        <input asp-for="FilterModelInput.CurrentProviderType" name="PrevProviderType" id="prevProviderType" hidden />
        <div id="filter-options" class="form-actions form-group row text-center">
            <div class="text-center">
                <label class="fw-bold text-white">Looking for a specific appointment? Choose from the filters below!</label>
            </div>
            <br />
            <br />
            <div class="col-md-2">
                @if (Model.FilterModelInput.Providers.Any())
                {
                    <select asp-for="FilterModelInput.CurrentProvider" asp-items="@Model.FilterModelInput.Providers" name="ProviderId" id="providerId" class="form-select bg-secondary text-white">
                        <option value="@String.Empty" selected>All Providers</option>
                    </select>
                }
            </div>
            <div class="col-md-2">
                @if (Model.FilterModelInput.Campuses.Any())
                {
                    <select asp-for="FilterModelInput.CurrentCampus" asp-items="@Model.FilterModelInput.Campuses" name="Campus" id="campus" class="form-select bg-secondary text-white">
                        <option value="@String.Empty" selected>All Campuses</option>
                    </select>
                }
            </div>
            <div class="col-md-3">
                @if (Model.FilterModelInput.AppointmentTypes.Any())
                {
                    <select asp-for="FilterModelInput.CurrentAppointmentType" asp-items="@Model.FilterModelInput.AppointmentTypes" name="AppointmentType" id="appointmentType" class="form-select bg-secondary text-white">
                        <option value="@String.Empty" selected>All Appointment Types</option>
                    </select>
                }
                </div>
            <div class="col-md-2">
                @if (Model.FilterModelInput.ProviderTypes.Any())
                {
                    <select asp-for="FilterModelInput.CurrentProviderType" asp-items="@Model.FilterModelInput.ProviderTypes" name="ProviderType" id="providerType" class="form-select bg-secondary text-white">
                        <option value="@String.Empty" selected>All Provider Types</option>
                    </select>
                }
            </div>
            <div class="col-md-2">
                @if (Model.FilterModelInput.Classes.Any())
                {
                    <select asp-for="FilterModelInput.CurrentClasses" asp-items="@Model.FilterModelInput.Classes" name="Cls" id="cls" class="form-select bg-secondary text-white">
                        <option value="@String.Empty" selected>All Classes</option>
                    </select>
                }
            </div>
        </div>
    </form>
    <br />
    <hr />
    <div id='calendar'></div>
</body>

@section Scripts {
    <script>
        function registerAppointment(id) {
            $('.modal-content').load(`/Appointments/Index/registerappointment?id=${id}`, function () {
                $('#details-modal').modal('show');
            });
        }
    </script>

    <script>
        $('select').on('change', function () {
            $('#filterForm').submit();
        });
    </script>
}
