@page
@model SteamboatWillieWeb.Pages.Users.IndexModel
@{
}
<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-6">
            <a asp-page="/Account/Register" asp-area="Identity" asp-route-creatingProvider="@true" asp-route-returnUrl="~/Users/Index" class="btn btn-primary create-provider-btn">Create Provider Account</a>
        </div>
    </div>
    <br /><br />

    <form asp-page="./Index" method="get">
        <div class="form-actions no-color form-group row">
            <p>
                <div class="col-sm-2">
                    <label for="SearchString">Find by name:</label>
                    <input class="form-control bg-secondary text-white" type="text" name="SearchString" value="@Model.CurrentFilter" />
                </div>
                <div class="col-sm-4 align-self-end">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </p>
        </div>
    </form>
    <form asp-page="./Index" method="get" id="roleForm">
        <div class="form-actions no-color form-group row">
            <p>
                <div class="col-sm-4">
                    <label for="RoleSort">Find by Role:</label>
                    <select asp-for="@Model.CurrentRole" asp-items="@Model.Roles" name="RoleSort" id="roleFilter" class="form-select bg-secondary text-white">
                        <option value="@String.Empty" selected>All Roles</option>
                    </select>
                </div>
            </p>
        </div>
    </form>

    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Role(s)</th>
                <th scope="col">Lock/Unlock</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var user in Model.ApplicationUsers)
                {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>
                                @{
                                if (Model.UserRoles[user.Id].Count() == 1)
                                {
                                            @Model.UserRoles[user.Id].First()
                                }
                                else
                                {
                                            <ul>
                                                @{
                                            foreach (var r in Model.UserRoles[user.Id])
                                            {
                                                            <li>
                                                                @r
                                                            </li>
                                            }
                                                }
                                            </ul>
                                }
                                }

                            </td>
                            <td>
                                <form method="post">
                                    @{
                                    if (user.LockoutEnd > DateTime.Now)
                                    {
                                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.Id"><i class="fas fa-lock-open"></i> Unlock</button>
                                    }
                                    else
                                    {
                                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.Id"><i class="fas fa-lock"></i> Lock</button>
                                    }
                                    }
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-outline-success" asp-page="/Users/Update" asp-route-id="@user.Id">Update</a>

                            </td>
                        </tr>
                }
            }

        </tbody>
    </table>
    @{
        var prevDisabled = !Model.ApplicationUsers.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.ApplicationUsers.HasNextPage ? "disabled" : "";
    }
    <div class="mb-3">
        <a asp-page="./Index" asp-route-pageIndex="1" class="btn btn-primary @prevDisabled">
            First
        </a>
        <a asp-page="./Index" asp-route-pageIndex="@(Model.ApplicationUsers.PageIndex - 1)" class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="./Index" asp-route-pageIndex="@(Model.ApplicationUsers.PageIndex + 1)" class="btn btn-primary @nextDisabled">
            Next
        </a>
        <a asp-page="./Index" asp-route-pageIndex="@(Model.ApplicationUsers.TotalPages)" class="btn btn-primary @nextDisabled">
            Last
        </a>
    </div>
</div>

@section Scripts{
    <script>
        document.getElementById('roleFilter').addEventListener('change', function () {
            $('#roleForm').submit();
        });
    </script>
}