@page
@model SteamboatWillieWeb.Pages.Roles.UpsertModel
@{
}
<div class="card" id="card">
    <form class=form method="post">
        <div class="card-header">
            <h2>@(Model.IsUpdate ? "Update" : "Create") Role</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    @if (Model.IsUpdate)
                    {
                        <input type="hidden" asp-for="@Model.CurrentRole.Id" />
                        <input type="hidden" asp-for="@Model.CurrentRole.ConcurrencyStamp" />
                        <input type="hidden" asp-for="@Model.IsUpdate" value="true" />
                        <input class="form-control" asp-for="@Model.CurrentRole.Name" />
                    }
                    else
                    {
                        <label asp-for="@Model.CurrentRole.Name">Role</label>
                        <input class="form-control" asp-for="@Model.CurrentRole.Name" value="@Model.CurrentRole.Name" />
                        <input type="hidden" asp-for="@Model.IsUpdate" value="false" />
                    }
                </div>
                <div class="col-md-3">
                    <button type="submit" id="button" class="btn btn-primary form-control">@(Model.IsUpdate ? "Update" : "Create")</button>
                </div>
            </div>
        </div>
    </form>
</div>