@model SteamboatWillieWeb.Pages.IndexModel
@{
}

<div class="modal-header">
    @if (Model.AvailabilityModelInput.IsAppointment)
    {
        <div class="col-md-11 text-center"><h5 class="modal-title">Appointment Details</h5></div>
    }
    else
    {
        <div class="col-md-11 text-center"><h5 class="modal-title">Availability Details</h5></div>
    }
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5 text-end">
                    <span class="d-inline-block"><strong>When: </strong> </span> <br />
                </div>
                <div class="col-md-7">
                    <span>@Model.AvailabilityModelInput.Date @Model.AvailabilityModelInput.Time</span> <br />
                </div>
            </div>
            @if (Model.AvailabilityModelInput.IsAppointment)
            {
                <div class="row mt-2">
                    <div class="col-md-5 text-end">
                        <span class="d-inline-block"><strong>Client Name: </strong> </span>
                    </div>
                    <div class="col-md-7">
                        <span>@Model.AvailabilityModelInput.ClientName</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-5 text-end">
                        <span class="d-inline-block"><strong>Client W#: </strong> </span>
                    </div>
                    <div class="col-md-7">
                        <span>@Model.AvailabilityModelInput.WNumber</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-5 text-end">
                        <span class="d-inline-block"><strong>Client Email: </strong> </span>
                    </div>
                    <div class="col-md-7">
                        <span>@Model.AvailabilityModelInput.ClientEmail</span>
                    </div>
                </div>
            }
            <div class="row mt-2">
                <div class="col-md-5 text-end">
                    <span class="d-inline-block"><strong>Campus: </strong> </span>
                </div>
                <div class="col-md-7">
                    <span>@Model.AvailabilityModelInput.Campus</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 text-end">
                    <span class="d-inline-block"><strong>@(Model.AvailabilityModelInput.Campus.Equals("Online") ? "Link" : "Building"): </strong> </span>
                </div>
                <div class="col-md-7">
                    @if (Model.AvailabilityModelInput.Campus == "Online")
                    {
                        @if (Model.AvailabilityModelInput.Location.Contains("http"))
                        {
                            <a href="@Model.AvailabilityModelInput.Location" target="_blank">@Model.AvailabilityModelInput.Location</a>
                        }
                        else
                        {
                            <a href="http://@Model.AvailabilityModelInput.Location" target="_blank">@Model.AvailabilityModelInput.Location</a>
                        }
                    }
                    else
                    {
                        <span>@Model.AvailabilityModelInput.Location</span>
                    }
                </div>
            </div>
            @if (Model.AvailabilityModelInput.IsAppointment)
            {
                <div class="row mt-2">
                    <div class="col-md-5 text-end">
                        <span class="d-inline-block"><strong>Student Attachment:</strong></span>
                    </div>
                    
                @if (Model.AvailabilityModelInput.studentAttachment != null)
                {
                    <div class="col-md-7">
                        <span class="d-inline-block">
                            <a href="~/attachments/@Model.AvailabilityModelInput.studentAttachment" download="@(Model.AvailabilityModelInput.studentAttachment)">Student Attachment</a>
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-md-7">
                        <span class="d-inline-block">
                            No Student Attachment
                        </span>
                    </div>
                }
                </div>
                <div class="row mt-2">
                    <div class="col-md-5 text-end">
                        <span class="d-inline-block"><strong>Provider Attachment: </strong></span>
                    </div>
                @if (Model.AvailabilityModelInput.providerAttachment != null)
                {
                    <div class="col-md-7">
                        <span class="d-inline-block">
                            <input type="file" class="form-control form-control-sm bg-secondary text-white" asp-for="AvailabilityModelInput.providerFile" />
                            <a href="~/attachments/@Model.AvailabilityModelInput.providerAttachment" download="@(Model.AvailabilityModelInput.providerAttachment)">Provider Attachment</a>
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-md-7">
                        <span class="d-inline-block">
                            <input type="file" class="form-control form-control-sm bg-secondary text-white" asp-for="AvailabilityModelInput.providerFile" />
                            No Provider Attachment
                        </span>
                    </div>
                }
                </div>
            }
            @if (Model.AvailabilityModelInput.IsAppointment)
            {
                <div class="row mt-2">
                    <div class="col-md-5 text-end">
                        <span class="d-inline-block"><strong>Comments: </strong></span>
                    </div>
                    <div class="col-md-7">
                        <span>@Model.AvailabilityModelInput.Comments</span>
                    </div>
                </div>
            }
            <div class="row mt-2">
                <div class="col-md-5 text-end">
                    <div id="reason" style="display: none;">
                        <span class="d-inline-block"><strong>Reason: </strong></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <textarea class="bg-secondary text-white" asp-for="AvailabilityModelInput.CancelReason" cols="1" value="Test" style="width: 95%; display: none;" id="reasonBox"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                @if (!Model.AvailabilityModelInput.IsAppointment)
                {
                    <input type="submit" class="btn btn-danger" value="Remove Availability" asp-page-handler="RemoveAvailability" asp-route-id="@Model.AvailabilityModelInput.AvailabilityId" />
                    <button form="none" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                }
                else
                {
                    <div id="confirmDeleteAll" style="display: none">
                        <input type="submit" class="btn btn-danger" value="Cancel Appointment" asp-page-handler="RemoveAppointment" asp-route-id="@Model.AvailabilityModelInput.AvailabilityId" />
                        <input type="submit" class="btn btn-danger" value="Cancel & Remove Availability" asp-page-handler="RemoveAll" asp-route-id="@Model.AvailabilityModelInput.AvailabilityId" />
                    </div>
                    <div id="warning">
                        @if (Model.AvailabilityModelInput.TimeDate <= DateTime.Today)
                        {
                            @if (!Model.AvailabilityModelInput.StudentNoShow)
                            {
                                <input type="submit" class="btn btn-primary" value="Current: Student Showed Up" asp-page-handler="NoShowToggle" asp-route-id="@Model.AvailabilityModelInput.AvailabilityId" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-danger" value="Current: Student Didn't Show up" asp-page-handler="NoShowToggle" asp-route-id="@Model.AvailabilityModelInput.AvailabilityId" />
                            }
                        }
                        else
                        {
                            <button form="none" class="btn btn-warning" id="btnAll" onclick="btnCancelClick()">Cancel</button>
                        }
                        <button form="none" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        @if (Model.AvailabilityModelInput.IsAppointment && Model.AvailabilityModelInput.TimeDate >= DateTime.Today)
                        {
                            <input type="submit" class="btn btn-success" value="Save Changes" asp-page-handler="AvailabilityDetails" asp-route-id="@Model.AvailabilityModelInput.AvailabilityId" />
                        }

                    </div>
                }
            </div>
        </form>
    </div>
</div>
