@page
@model SteamboatWillieWeb.Pages.Availability.DetailsModel
@{
    <div class="text-center">
        @if (Model.providerAvailability.Scheduled)
        {
            <h2>Appointment Details</h2>
            <form method="post">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Date: @Model.details.date</td>
                        </tr>
                        <tr>
                            <td>Appointment Time: @Model.details.time</td>
                        </tr>
                        <tr>
                            <td>Client Name: @Model.details.clientName</td>
                        </tr>
                        <tr>
                            <td>Client W Number: @Model.details.wnumber</td>
                        </tr>
                        <tr>
                            <td>Client Email: @Model.details.clientEmail</td>
                        </tr>
                        <tr>
                            <td>
                                Location: @if ((Model.details.location.Contains("www") || Model.details.location.Contains("http") || Model.details.location.Contains(".com") || Model.details.location.Contains(".edu") || Model.details.location.Contains(".org") || Model.details.location.Contains(".gov") || Model.details.location.Contains(".gg")|| Model.details.location.Contains(".net")))
                                {
                                    @if (Model.details.location.Contains("http"))
                                    {
                                        <a href="@Model.details.location" target="_blank">@Model.details.location</a>
                                    }
                                    else
                                    {
                                        <a href="http://@Model.details.location" target="_blank">@Model.details.location</a>
                                    }
                                }
                                else
                                {
                                    @Model.details.location
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Student Comments: @Model.details.studentComments</td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" name="removeAppointmentOnly" value="true" class="btn btn-danger">Remove Appointment</button>
                                <button type="submit" name="removeEverything" value="true" class="btn btn-danger">Remove Availability and Appointment</button>
                            </td>
                        </tr>
                        <input type="hidden" name="id" value="@Model.providerAvailability.Id" />
                    </tbody>
                </table>
            </form>

        }
        else
        {
            <h2>Availability Details</h2>
            <form method="post">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Date: @Model.details.date</td>
                        </tr>
                        <tr>
                            <td>Availability Time: @Model.details.time</td>
                        </tr>
                        <tr>
                            <td>
                                Location: @if ((Model.details.location.Contains("www") || Model.details.location.Contains("http") || Model.details.location.Contains(".com") || Model.details.location.Contains(".edu") || Model.details.location.Contains(".org") || Model.details.location.Contains(".gov") || Model.details.location.Contains(".gg") || Model.details.location.Contains(".net")))
                                {
                                    @if(Model.details.location.Contains("http"))
                                    {
                                        <a href="@Model.details.location" target="_blank">@Model.details.location</a>
                                    }
                                    else
                                    {
                                        <a href="http://@Model.details.location" target="_blank">@Model.details.location</a>
                                    }
                                }
                                else
                                {
                                    @Model.details.location
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" name="removeAvailability" value="true" class="btn btn-danger">Remove Availability</button>
                            </td>
                        </tr>
                        <input type="hidden" name="id" value="@Model.providerAvailability.Id" />
                    </tbody>
                </table>
            </form>
        }
    </div>
}
